.embla {
  position: relative;
}

.embla__container {
  display: flex;
  will-change: transform;
  margin-left: -1rem;
  padding-left: 1.5rem;
}

.embla__slide {
  flex: 0 0 auto;
  width: auto;
  position: relative;
}

.embla__slide__inner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  color: black;
  border-radius: 9999px;
  padding: 0.375rem 0.625rem;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 150ms;
}

.embla__slide__inner:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.embla__slide__inner.active {
  background-color: var(--primary);
  color: white;
}
