.embla {
  position: relative;
}

.embla__container {
  display: flex;
  will-change: transform;
  margin-left: -1rem;
  padding-left: 1.5rem;
}

.embla__slide {
  flex: 0 0 auto;
  width: auto;
  position: relative;
}

.embla__slide__inner {
  position: relative;
  background-color: white;
  color: black;
  border-radius: 9999px;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.15);
  padding: 0.25rem 0.5rem;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

.embla__slide__inner.active {
  background-color: var(--primary);
  color: white;
}
